* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    // justify-content: space-around;


    div {
        background-color: orange;
        border: 2px solid orangered;

    }
}